@color__primary:@color-swatch3;
@color__secondary:@color-swatch2;
@color__body--background:@color-swatch1;
@color__link--text:@color-swatch2;
@color__companyname--text:@font-swatch10-color;
@font__companyname--font-family:@font-swatch10-font-family;
@font__companyname--font-size:@font-swatch10-font-size;
@font__companyname--font-weight:@font-swatch10-font-weight;
@font__companyname--line-height:@font-swatch10-line-height;
@font__companyname--letter-spacing:@font-swatch10-letter-spacing;
@color__h1--text:@font-swatch1-color;
@color__h2--text:@font-swatch2-color;
@color__h3--text:@font-swatch3-color;
@color__h4--text:@font-swatch4-color;
@color__p--text:@font-swatch5-color;
@font__h1--font-family:@font-swatch1-font-family;
@font__h1--font-size:@font-swatch1-font-size;
@font__h1--font-weight:@font-swatch1-font-weight;
@font__h1--line-height:@font-swatch1-line-height;
@font__h1--letter-spacing:@font-swatch1-letter-spacing;
@font__h2--font-family:@font-swatch2-font-family;
@font__h2--font-size:@font-swatch2-font-size;
@font__h2--font-weight:@font-swatch2-font-weight;
@font__h2--line-height:@font-swatch2-line-height;
@font__h2--letter-spacing:@font-swatch2-letter-spacing;
@font__h3--font-family:@font-swatch3-font-family;
@font__h3--font-size:@font-swatch3-font-size;
@font__h3--font-weight:@font-swatch3-font-weight;
@font__h3--line-height:@font-swatch3-line-height;
@font__h3--letter-spacing:@font-swatch3-letter-spacing;
@font__h4--font-family:@font-swatch4-font-family;
@font__h4--font-size:@font-swatch4-font-size;
@font__h4--font-weight:@font-swatch4-font-weight;
@font__h4--line-height:@font-swatch4-line-height;
@font__h4--letter-spacing:@font-swatch4-letter-spacing;
@font__p--font-family:@font-swatch5-font-family;
@font__p--font-size:@font-swatch5-font-size;
@font__p--font-weight:@font-swatch5-font-weight;
@font__p--line-height:@font-swatch5-line-height;
@font__p--letter-spacing:@font-swatch5-letter-spacing;
@color__button--background:transparent;
@color__button--background--hover:@color__primary;
@color__button--text:@font-swatch7-color;
@color__button--text--hover:@color-swatch1;
@font__button--font-family:@font-swatch7-font-family;
@font__button--font-size:@font-swatch7-font-size;
@font__button--font-weight:@font-swatch7-font-weight;
@font__button--line-height:@font-swatch7-line-height;
@font__button--letter-spacing:@font-swatch7-letter-spacing;
@color__header--background:@color-swatch1;
@color__footer--background:@color__primary;
@color__navigation--text:@font-swatch6-color;
@color__navigation--text--hover:@font-swatch6-color;
@color__navigation--text--selected:@font-swatch6-color-hover;
@font__navigation--font-family:@font-swatch6-font-family;
@font__navigation--font-size:@font-swatch6-font-size;
@font__navigation--font-weight:@font-swatch6-font-weight;
@font__navigation--line-height:@font-swatch6-line-height;
@font__navigation--letter-spacing:@font-swatch6-letter-spacing;


// Feature
@color__feature-content--background:@color__primary;

@color__feature-button--text:#fff;
@color__feature-button--background:transparent;
@color__feature-button--background--hover:@color__primary;
@color__feature-button--border:#fff;

@font__feature-headline--font-family:@font-swatch8-font-family;
@font__feature-headline--font-size:@font-swatch8-font-size;
@font__feature-headline--font-weight:@font-swatch8-font-weight;
@font__feature-headline--line-height:@font-swatch8-line-height;
@font__feature-headline--letter-spacing:@font-swatch8-letter-spacing;
@color__feature-headline--text:@font-swatch8-color;

@font__feature-strapline--font-family:@font-swatch9-font-family;
@font__feature-strapline--font-size:@font-swatch9-font-size;
@font__feature-strapline--font-weight:@font-swatch9-font-weight;
@font__feature-strapline--line-height:@font-swatch9-line-height;
@font__feature-strapline--letter-spacing:@font-swatch9-letter-spacing;
@color__feature-strapline--text:@font-swatch9-color;


// Form
@color__form--background:transparent;
@color__form-legend--text:@color-swatch4;
@color__form-label--text:@font-swatch5-color;
@color__twitter--background:@color-swatch1;
@color__twitter-item--background:@color-swatch1;
@color__twitter-account-name--text:@color-swatch2;
