{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="homepage-feature">
	{{widget('feature', 'featurehome', {
		"header": "profile",
		"strapline": "profile",
		"defaultBgImg": asset('images/feature-bg.jpg'),
		'positionTopPercentage': '0',
		'showBtn': true,
		buttonText: "Lorem Ipsum"
	})|raw}}
</div>

<!-- Container -->
<div class="container">

	<!-- Page Content -->
	<section class="template-content">

		<!-- Template Widgets -->
		
		<!-- End Template Widgets -->

		<!-- Main Widet Zone -->
	   	{{zone('main')|raw}}

	</section>
	<!-- End Page Content -->

</div>
<!-- End Container -->

{% include "includes/footer.twig" %}

{% endblock %}
