<!-- Footer -->
<div class="above-footer">

{{widget('contactform', 'contact', {
  'text': 'Submit',
  'formTitle': 'Contact Us',
  'email': 'profile'
})|raw}}

</div>

<footer class="template-footer">

	<div class="container">
        {{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>

</footer>
<!-- End Footer -->
